* { padding:0; margin:0; }
body { background-image:url(../images/bg.jpg); }
.polaroid { width:368px; height:376px; background-image:url(../images/polaroid-bg.png);float:left;margin: 10px; }
.polaroid img { width:335px; height:275px; margin:25px 0 0 15px; }
h1 {
	color:#666;
	margin-top: 25px;
	text-align: center;
}
#input {
	margin: 30px;
	text-align: center;
}
#resultado {
	width: 90%;
	margin: 0 auto;
}